<div class="row mt-4">
    {% if cards|length > 0 %}
        {% for card in cards %}
            {% set image_name = card.color|slice(0, 2) ~ '_' ~ card.value %}
            <div class="col-md-3 col-lg-3">
                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-body">
                        <img src="{{ asset('assets/img/' ~ image_name|lower ~ '.PNG') }}" alt="{{ card.value ~ ' ' ~ card.color }}" class="img-fluid">
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6 col-lg-6">
            <div class="card card-custom bg-white border-white border-0">
                <div class="card-body">
                    <button type="button" class="btn btn-warning btn-lg btn-block sorted">
                        Trier
                    </button>
                </div>
            </div>

        </div>
    {% else %}
        {% for i in 1..10 %}
            <div class="col-md-3 col-lg-3">
                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-body">
                        <img src="{{ asset('assets/img/empty.png') }}" alt="empty card" class="img-fluid">
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>
